.hidden {
  visibility: hidden;
}

.concealed {
  background-color: black;
}

.registration {
  position: absolute;
}

.registration__input {
  display: block;
  resize: none;
}

.study-session {
  position: absolute;
}

.study-session__current-card {
  display: block;
  position: relative;
}

.current-card__front {
  position: absolute;
}

.current-card__back {
  position: absolute;
}

.study-session__input--meaning {
  display: block;
}
